#忽略vs工程文件
H:\ShenShengYi\ShenShengYi\ShenShengYi\.vs\*
#忽略工程编译输出中间文件
H:\ShenShengYi\ShenShengYi\ShenShengYi\ShenShengYi\x64\*
*.log
*.tlog
*.obj
*.props
*.pch
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
*.ipdb
*.pdb
*.iobj
*.exp
*.suo
